/*** GENERAL ***/
.App {
	height: 85vh;
	text-align: center;
}

.m-25 {
	margin: 25px;
}

.green {
	background: rgb(9, 160, 9);
}
.red {
	background: rgb(190, 38, 38);
}
.blue {
	background: rgb(45, 149, 209);
}
.yellow {
	background: rgb(223, 223, 12);
}

h1,
h3 {
	text-align: center;
}

/*** FLEXBOX ***/
.flex {
	display: flex;
	justify-content: center;
	align-items: center;
}
.flex-column {
	flex-direction: column;
}
.space-around {
	justify-content: space-around;
}
.stretch {
	align-self: stretch;
}
.flex-start {
	align-self: flex-start;
}
.flex-end {
	align-self: flex-end;
}

/*** PAWN ***/
.pawn {
	width: 15px;
	height: 15px;
	border: 5px solid black;
	border-radius: 50%;
}
